body{
    font-family: 'Poppins', sans-serif;
    margin: 0px 100px 100px 100px;
}

.navbar{
    margin-bottom: 60px;
}

.navvv{
    /* display: flex; */
    margin-left: 300;
}

.darkmode{
    margin-left: 700px;
    border-radius: 25%;
    justify-content: center;
    background-color: black;
    margin-top: 5px;
}

.darkbtn{
    border: none;
    background-color: transparent;
    border-radius: 50%;
    width: 30px;
    align-items: center;
}

.sun{
    background-color: white;
}

.containerr{
    display: flex;

}

.head{
    width: 500px;
}
h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 1.5;
    margin: 20px 0px 30px 0px;
}

.first{
    font-weight: 500;
}
h3{
    font-size: 18px;
}

/* image size */
.main{
    height: 600px;
    margin-left: 90px;
}

.tagline{
    color: #909193;
}

.buttonn{
    font-size: 16px;
    margin-top: 30px;
}

.btn{
    height: 50px;
    width: 150px;
}

#getstartedbtn{
    background-color:#2A4DD0;
    border: none;
}

#getstartedbtn:hover{
    background-color: #355ae0;
}

#livebtn{
    font-weight: 500;
    color:#2A4DD0;
}

#livebtn:hover{
    color: #3c67ff;
}

.check{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.checkimg{
    display: flex;

}

.checklogo{
    margin-bottom: 15px;
}

